{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/js/lightbox/css/lightbox.min.css" />
{% endblock %}

{% block body %}
    <div class="max-w-5xl mx-3 lg:mx-auto my-3 md:my-8 border border-yellow-700">
        <h1 class="flex justify-center my-8 text-5xl text-cyan-800">
            {% if page_type == 'create' %}
                Créer une nouvelle figure
            {% else %}
                Modifier une figure
            {% endif %}
        </h1>

        <div class="m-6">
            {{ form_start(form) }}

            <div onclick="displayMedias()" id="see-medias" class="md:hidden flex cursor-pointer w-64 py-2 mt-6 mx-auto bg-cyan-800 hover:bg-cyan-700 justify-center shadow-md shadow-cyan-800/50 text-stone-100">
                Voir les photos et vidéos
            </div>

            <div class="hidden md:block" id="medias">
                <h3>Images et vidéos</h3>
                <ul class="medias"
                    data-index="{{ form.medias|length > 0 ? form.medias|last.vars.name + 1 : 0 }}"
                    data-prototype="{{ form_widget(form.medias.vars.prototype)|e('html_attr') }}">
                    {% if form.medias|length > 0 %}{{ form_row(form.medias) }}{% endif %}

                    <button type="button" class="add_item_link cursor-pointer p-2 mb-6 bg-yellow-700 hover:bg-yellow-600 justify-center shadow-md shadow-yellow-700/50 text-stone-100" data-collection-holder-class="medias">Ajouter une image ou une vidéo</button>
                </ul>
            </div>

            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.groupTrick) }}
            {{ form_end(form) }}

            {% if page_type == 'modify' %}
                <div class="cursor-pointer p-2 my-6 bg-red-800 hover:bg-red-700 text-center shadow-md shadow-red-800/50 text-stone-100 w-64">
                    <button onclick="onDeleteTrick('{{ slug|escape('js') }}')">Supprimer la figure</button>
                </div>
            {% endif %}
        </div>

    </div>

    <script>

        const addFormToCollection = (e) => {
            const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

            const item = document.createElement('li');

            item.innerHTML = collectionHolder
                .dataset
                .prototype
                .replace(
                    /__name__/g,
                    collectionHolder.dataset.index
                );

            collectionHolder.appendChild(item);

            collectionHolder.dataset.index++;

            addMediaFormDeleteLink(item);
        };

        const addMediaFormDeleteLink = (item) => {
            const removeFormButton = document.createElement('button');
            removeFormButton.innerText = 'Supprimer ce media';
            removeFormButton.className = 'text-red-800 p-1 my-2';

            item.append(removeFormButton);

            removeFormButton.addEventListener('click', (e) => {
                e.preventDefault();
                // remove the li for the tag form
                item.remove();
            });
        }

        document
            .querySelectorAll('.add_item_link')
            .forEach(btn => {
                btn.addEventListener("click", addFormToCollection)
            });

        document
            .querySelectorAll('#trick_medias>div')
            .forEach((media) => {
                addMediaFormDeleteLink(media)
            });

        function displayMedias() {
            const trickMedias = document.getElementById('medias');
            trickMedias.classList.remove('hidden');

            const seeMedias = document.getElementById('see-medias')
            seeMedias.remove()
        }

        function onDeleteTrick(slug) {
            if (window.confirm("Voulez-vous supprimer cette figure ?")) {
                window.location.href = (`/trick/delete/${slug}`);
            }
        }
    </script>
{% endblock %}