{% extends "base.html.twig" %}

{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="flash-notice p-3 bg-green-200" id="flash">
            {{ message }}
        </div>
    {% endfor %}

    <div class="relative">
        <div class="absolute bottom-20 md:bottom-4 right-6">
            <a href="#tricks">
                <svg aria-label="bouton pour descendre dans la page jusqu'à la liste des figures" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 3v18m0 0l8.5-8.5M12 21l-8.5-8.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </a>
        </div>

        <img src="/images/accueil.jpg" alt="Snowboarder descendant une piste enneigée." class="mx-auto h-screen md:h-[calc(100vh-64px)] md:w-full object-cover object-right-bottom">
        <h1 class="absolute top-6 mx-4 md:top-40 md:left-24 text-7xl md:text-8xl md:max-w-3xl text-cyan-800 font-serif">La montagne est votre terrain de jeu. Jouez grand.</h1>
    </div>

    {% for message in app.flashes('deleted') %}
        <div class="flash-notice p-3 bg-green-200" id="flash">
            {{ message }}
        </div>
    {% endfor %}

    <div id="tricks" class="mx-auto max-w-8xl py-6">
        <div id="tricks-list" class="mx-auto px-8 lg:px-8 grid grid-cols-1 md:grid-cols-5 gap-8">
            {% for trick in tricks %}
                <div class="flex flex-col border border-cyan-800">
                    {% if trick.chosenImage %}
                        <img class="min-w-full h-40 object-cover" src="{{ trick.chosenImage.path }}" alt="{{ trick.chosenImage.description }}">
                    {% elseif trick.medias|length > 0 %}
                        <img class="min-w-full h-40 object-cover" src="{{ trick.medias[0].path }}" alt="{{ trick.medias[0].description }}">
                    {% else %}
                        <img class="min-w-full h-40 object-cover" src="/images/no-photo.jpg" alt="snowboarder assis">
                    {% endif %}
                    <div class="flex justify-around my-2">
                        <a href="{{ path("trick_show", { slug: trick.slug }) }}" class="text-base font-semibold text-gray-900 basis-2/3">{{ trick.name }}</a>
                        {% if is_granted('ROLE_USER') %}
                            <a href="{{ path('modify_trick', {slug: trick.slug}) }}">
                                <svg aria-label="bouton pour modifier la figure" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M14.363 5.652l1.48-1.48a2 2 0 012.829 0l1.414 1.414a2 2 0 010 2.828l-1.48 1.48m-4.243-4.242l-9.616 9.615a2 2 0 00-.578 1.238l-.242 2.74a1 1 0 001.084 1.085l2.74-.242a2 2 0 001.24-.578l9.615-9.616m-4.243-4.242l4.243 4.242" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="basis-1/6"></path></svg>
                            </a>
                            <button><svg onclick="onDeleteTrick('{{ trick.slug|escape('js') }}')" aria-label="bouton pour supprimer la figure" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" class="delete-button"><path d="M3.04 4.294a.496.496 0 01.191-.479C3.927 3.32 6.314 2 12 2s8.073 1.32 8.769 1.815a.496.496 0 01.192.479l-1.7 12.744a4 4 0 01-1.98 2.944l-.32.183a10 10 0 01-9.922 0l-.32-.183a4 4 0 01-1.98-2.944l-1.7-12.744zM3 5c2.571 2.667 15.429 2.667 18 0" stroke="#000000" stroke-width="1.5" class="basis-1/6"></path></svg></button>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="flex justify-center gap-12">
            {% if numberOfTricks > 15 %}
                <button onclick="displayTricks()" id="load-more" class="flex cursor-pointer w-32 py-2 mt-6 bg-cyan-800 hover:bg-cyan-700 justify-center shadow-md shadow-cyan-800/50">
                    <svg aria-label="voir plus de figures" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#f5f5f4"><path d="M21.168 8A10.003 10.003 0 0012 2C6.815 2 2.55 5.947 2.05 11" stroke="#f5f5f4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M17 8h4.4a.6.6 0 00.6-.6V3M2.881 16c1.544 3.532 5.068 6 9.168 6 5.186 0 9.45-3.947 9.951-9" stroke="#f5f5f4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M7.05 16h-4.4a.6.6 0 00-.6.6V21" stroke="#f5f5f4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg> <span class="text-stone-100 ms-2">Voir plus</span>
                </button>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('create_trick') }}" class="cursor-pointer p-2 mt-6 bg-yellow-700 text-stone-100 hover:bg-yellow-600 shadow-md shadow-yellow-700/50">Créer une nouvelle figure</a>
            {% endif %}
        </div>

        <div id="arrow-up" class="hidden">
            <a href="#tricks" class="flex justify-end me-6">
                <svg aria-label="bouton pour remonter au début de la liste des figures" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M12 21V3m0 0l8.5 8.5M12 3l-8.5 8.5" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        let offset = 15;
        function displayTricks() {
            fetch(`/tricks/${offset}`)
                .then(response => response.json())
                .then(response => {
                    const trickList = document.getElementById('tricks-list');
                    for (const trick of response.tricks) {
                        let image = '<img class="min-w-full h-40 object-cover" src="/images/no-photo.jpg" alt="snowboarder assis">';

                        if (trick.chosenImage != null) {
                            image = `<img class="min-w-full h-40 object-cover" src="${trick.chosenImage.path}" alt="${trick.chosenImage.description}">`;
                        } else if (trick.medias.length > 0) {
                            image = `<img class="min-w-full h-40 object-cover" src="${trick.medias[0].path}" alt="${trick.medias[0].description}">`;
                        }

                        trickList.innerHTML +=
                            `<div class="flex flex-col border border-cyan-800">
                                ${image}
                                <div class="flex justify-around my-2">
                                    <a href="/trick/${trick.slug}" class="text-base font-semibold text-gray-900 basis-2/3">${trick.name}</a>
                                    {% if is_granted('ROLE_USER') %}
                                        <a href="/trick/modify/${trick.slug}">
                                            <svg aria-label="bouton pour modifier la figure" width="24px" height="24px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000"><path d="M14.363 5.652l1.48-1.48a2 2 0 012.829 0l1.414 1.414a2 2 0 010 2.828l-1.48 1.48m-4.243-4.242l-9.616 9.615a2 2 0 00-.578 1.238l-.242 2.74a1 1 0 001.084 1.085l2.74-.242a2 2 0 001.24-.578l9.615-9.616m-4.243-4.242l4.243 4.242" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="basis-1/6"></path></svg>
                                        </a>
                                        <button><svg onclick="onDeleteTrick('${trick.slug}')" aria-label="bouton pour supprimer la figure" width="24px" height="24px" stroke-width="1.5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="#000000" class="delete-button"><path d="M3.04 4.294a.496.496 0 01.191-.479C3.927 3.32 6.314 2 12 2s8.073 1.32 8.769 1.815a.496.496 0 01.192.479l-1.7 12.744a4 4 0 01-1.98 2.944l-.32.183a10 10 0 01-9.922 0l-.32-.183a4 4 0 01-1.98-2.944l-1.7-12.744zM3 5c2.571 2.667 15.429 2.667 18 0" stroke="#000000" stroke-width="1.5" class="basis-1/6"></path></svg></button>
                                    {% endif %}
                                </div>
                            </div>`;
                    }

                    const arrowUp = document.getElementById('arrow-up');
                    arrowUp.classList.remove('hidden');

                    if (response.hasMoreTricks === false) {
                        const loadMore = document.getElementById('load-more')
                        loadMore.remove()
                    }

                    offset += 15;
                })
                .catch(error => alert("Erreur : " + error));
        }

        setTimeout(function() {
            document.getElementById('flash').classList.add('hidden')
        }, 10000)

        function onDeleteTrick(slug) {
            if (window.confirm("Voulez-vous supprimer cette figure ?")) {
                window.location.href = (`/trick/delete/${slug}`);
            }
        }
    </script>
{% endblock %}